@model ToDoApp.Models.AddToDoModel
@{
    ViewBag.title = "Add";
}
<h2>Add ToDo</h2>

@Scripts.Render("~/Scripts/GLoc.js")

    <style>
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
      #map {
        height: 500px;
        width:500px;
      }
    </style>
        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBfE9C9ECA1TLb-wh_cjWP9MD_hCDQLKYc&signed_in=true&callback=initMap"
        async defer> </script>
    <div id="map"></div>
  <div>
    Addres: 
     @Html.TextBoxFor(r=>r.address)
    <input type="button" value="Encode" onclick="codeAddress()">
    <input type="button" value="Delete" onclick="deleteMarkers()">
  </div>
@using (Html.BeginForm("Add", "ToDo", FormMethod.Post, new { enctype = "multipart/form-data" }))
{    
        
    @Html.HiddenFor(r=>r.Lat)
    @Html.HiddenFor(r => r.Long)
    <text>Name: </text> @Html.TextBoxFor(r => r.Name)
    @Html.ValidationMessageFor(r => r.Name)<br />  
    <text>Description: </text> @Html.TextBoxFor(r => r.Description)
    @Html.ValidationMessageFor(r => r.Description)<br />  
    <text>State: </text>@Html.DropDownList("State")<br />
    @Html.CheckBoxFor(r => r.IsPublic)<text> Is Public</text><br />
    @Html.EditorFor(m => m.Date,"{0:yyyy.MM.dd H:mm:ss}")    
    @Html.ValidationMessageFor(r => r.Date)<br />  
     <p>
    <input type="submit" value="Add" /> 
    @Html.ActionLink("Cancel", "Index", "ToDo")
</p>
}