@model ToDoApp.Models.FPModel

@{
    ViewBag.Title = "Forgot Password";
}


<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
@if (ToDoApp.Helpers.AuthHelper.IsAuthenticated(Context))
{
    @ToDoApp.Helpers.AuthHelper.GetUser(Context).Email<br />
    @Html.ActionLink("Выйти", "LogOff", "Account")<br />
}
else
{
    using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Get))
    {
        @Html.TextBoxFor(l => l.Email)
        @Html.ValidationMessageFor(l => l.Email)<br />
        <p>
            <input type="submit" value="Change Pass" />
    @Html.ActionLink("Cancel", "Index", "Home")
</p>
    
    }
}