@model ToDoApp.Models.RegistrationModel
@{
    ViewBag.Title = "Registration";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Scripts.Render("~/bundles/pictureload")
@using (Html.BeginForm("Registration", "Registration", FormMethod.Post, new { enctype = "multipart/form-data" ,regmodel=Model}))
{
    <text>Please load your photo: </text>
    <label >
         <img  id="uimg" src="~/Images/default-avatar.png"  width="150"/>    
        <input style = "display: none" type="file" name="file" id="file-field" accept="image/*"/>
              
   </label>
    @Html.ValidationMessage("file-field")<br /> 
    <text>Name: </text> @Html.TextBoxFor(r => r.Name)
    @Html.ValidationMessageFor(r => r.Name)<br />  
    <text>Surname: </text> @Html.TextBoxFor(r => r.Surname)
    @Html.ValidationMessageFor(r => r.Surname)<br />
    <text>Second Name: </text> @Html.TextBoxFor(r => r.SecondName)
    @Html.ValidationMessageFor(r => r.SecondName)<br />
    <text>Comment: </text> @Html.TextBoxFor(r => r.Comment)<br />
    <text>Email: </text> @Html.TextBoxFor(r => r.Email)
    @Html.ValidationMessageFor(r => r.Email)<br />
    <text>Phone: </text> @Html.TextBoxFor(r => r.Phone)
    @Html.ValidationMessageFor(r => r.Phone)<br />
    <text>Password: </text> @Html.PasswordFor(r => r.Password)
    @Html.ValidationMessageFor(r => r.Password)<br />
    <text>Confirm password: </text> @Html.PasswordFor(r => r.DPassword)
    @Html.ValidationMessageFor(r => r.DPassword)<br />
     <p>
    <input type="submit" value="Register" /> 
    @Html.ActionLink("Cancel", "Index", "Home")
</p>
}

